body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.form-container {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
}


.form-container-index {
    background: white;
    padding: 10px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 720px;
}

.form-container-passinquiry {
    background: white;
    padding: 10px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 720px;
}


.form-container h2 {
    font-size: 24px;
}

.form-container .form-control {
    font-size: 14px;
    padding: 10px;
}

.form-container .btn {
    font-size: 14px;
    padding: 10px;
}

.form-container p {
    margin-top: 15px;
    text-align: center;
}
