<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>ログイン</title>
</head>

<body>
    <div class="form-container">
        <h2 class="text-center mb-4">ログイン</h2>
        {% if status == "empty" %}
        <p class="text-danger text-center">*ユーザ名またはパスワード<br>が入力されていません。</p>
        {% elif status == "user_notfound" %}
        <p class="text-danger text-center">*ユーザが見つかりません。<br>新規登録しましょう。</p>
        {% elif status == "wrong_password" %}
        <p class="text-danger text-center">*パスワードが間違っています。</p>
        {% endif %}
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="user_name" class="form-label">ユーザ名</label>
                <input type="text" id="user_name" name="user_name" class="form-control" placeholder="ユーザ名を入力してください">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">パスワード</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="パスワードを入力してください">
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">ログイン</button>
            </div>
        </form>
        <p class="text-center mt-3"><a href="/signup">新規登録はこちら</a></p>
    </div>
</body>

</html>